*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body
{
    background:#f4f4f4;
  
    
    
}
 /*Logo y menu  */
header
{
    display: grid;
    grid-template-columns: 15rem 1fr 50rem;
    background: black;
    padding: 10px;
}

.imgContenedor
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgEncabezado
{
    width: 5rem;
}

.navegacion
{
    background: black;
    margin: auto;
    cursor: pointer;
}

.navegacion ul
{
    list-style: none;
    
}

.menu >li 
{
    position: relative;
    display: inline-block;
}

.menu >li > a
 {
    display: block;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu li :hover
{ 
    background: #ccc;
    background: linear-gradient(#ECC440,#FFFA8A,#DDAC17,#FFFF95);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

/* Seccion del producto individual*/

.mezcalCf .imgCf
{
    padding: 20px;
    margin: 20px;
    margin-left: 140px;
    width: 50%;
    
    
}

/* acomodo del producto de crema de mezcal coco*/

.nombreTrab > .boton
{
    margin-top: 3rem;
}

.nombreTrab > p
{
    margin-top: 10px;
}

.Contenedor
{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

/*Contenedor de productos abajo */
.prod img{
    width: 150px;
	height: 160px;
    margin-top: -50px;
	margin-left:35px;
   
}

/*
.prod
{
    margin: 1em;
    padding: 1em;
    color: #fff;
    float: left;
}


.container-prod
{
    width: 100%;
	display: flex;
	max-width: 1080px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;

}
*/


.boton #carrito
{
    color: #E5DCC8;
    text-decoration: none;
    text-align: center;
    font-family:sans-serif;
    margin: 20px;
    width: 25%;
    padding: 1rem;
    background-color: #2D2427;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: #ccc;
   
}
.boton #comp
{
    color: #E5DCC8;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    
   
    width: 25%;
    padding: 1rem;

    background-color: #2D2427;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* parte inferior*/


 .productos .btn
{
    width: 10px;
    border-radius: 5rem;

}
/* Diseño de imagenes */


.productos .imgProducto
{
    width: 100%;
    border: 1px solid #000;
    
}

.productos .ContenedorImg
{
    position: relative;
}


/* buscar */

.box 
{
    position: absolute;
    top: 7%;
    left: 70%;
    
    transform: translate(-50%, -50%);
}
input.src
{
    padding: 9px 10px 9px 32px;
}

/* seccion de los productos*/

/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;

}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	color: #2D2427;
    line-height: 46.88px;
}
.card{
	width: 100%;
	margin: 20px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
    margin: 20px;
	width: 88%;
	height:340px;
}
.card .contenido-card{
	padding: 15px;
	
}
/* titulo de los productos */
.card .contenido-card h3{
	margin-bottom: 4px;
	color: #2D2427;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    

}
.card .contenido-card p{
	line-height: 28.13px;
	color: #2D2427;
	font-size: 18px;
	margin-bottom: 3px;
    font-family: 'Roboto';
    font-weight: 300;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	text-decoration: none;
	color: #2D2427;
	border: 1px solid #2D2427;
	border-radius: 2px;
	transition: all 400ms ease;
	margin-bottom: 5px;

/* Centrar */
    display: flex;
    justify-content: center;
    
}
.card .contenido-card a:hover{
	background: #2D2427;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/



/*
nav
{

    padding: 10px 40px 10px 70px;
    border: 1px solid #222;
    border-left: none;
    border-right: none;
}
nav ul 
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.items >li 
{
    position: relative;
    display: inline-block;
}
nav ul div.items a
{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
}
nav ul div.items a:hover
{
    color: #ECC440;
}
nav ul .search-icon
{
    height: 40px;
    width: 240px;
    display: flex;
    background: floralwhite;
    border-radius: 15px;
    border: 3px solid #ECC440;
}
nav ul .search-icon input
{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    border-radius : 15px;
   
}
nav ul .search-icon .icon
{
    height: 90%;
    width: 30px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0;
     0 5px 5px 0
    cursor: pointer;

}
nav ul .search-icon .icon:hover
{
    background: #ECC440;
}
nav ul .search-icon .icon svg
{
    color: #222;
    font-size: 18px;
}
*/
